/* CSS variablar för enkelt consistent tema färger */

:root {
  --text: #0a0506;
  --background: #fcfafa;
  --primary: #912b3f;
  --secondary: #a5d0d6;
  --accent: #a288f0;
}
:root[data-theme='dark'] {
  --text: #faf5f6;
  --background: #060404;
  --primary: #d46e82;
  --secondary: #2a555b;
  --accent: #280f76;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
}
