/* CSS variablar för enkelt consistent tema färger */

:root {
  --text: #0a0506;
  --background: #fcfafa;
  --primary: #912b3f;
  --secondary: #a5d0d6;
  --accent: #a288f0;
}
:root[data-theme='dark'] {
  --text: #faf5f6;
  --background: #060404;
  --primary: #d46e82;
  --secondary: #2a555b;
  --accent: #280f76;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
}

/* Flex på headern för göra den responsiv och skap mellanrum imellan */
header {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--background);
  margin-bottom: 3rem;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li a {
  text-decoration: none;
  padding: 1rem;
  color: var(--background);
}

h1 a {
  text-decoration: none;
  color: var(--background);
}

li a:hover {
  transition: background-color 0.2s;
  background-color: var(--secondary);
  border-radius: 1rem;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
}

article {
  width: 75%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 3rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  transition: transform 0.1s;
  width: 100%;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

footer {
  margin-top: 5rem;
  padding: 3rem;
  background-color: var(--text);
  color: var(--background);
  display: grid;
  gap: 2rem;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.socialIcons {
  width: 4rem;
  cursor: pointer;
}

.socialIcons:hover {
  transform: scale(1.1);
}

/* Använder clamp */
.headerText {
  font-size: clamp(1rem, 10vw, 5rem);
}

/* CSS till meny */

.menuMain {
  display: flex;
  flex-direction: column;
}

.menuGrid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.menuCard {
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
}

.priceText {
  font-size: 1.3rem;
  color: var(--primary);
}

/* Mobile/Tablet layout */

/* Tablet */
@media (width < 769px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
  .menuGrid {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}

/* Mobile */
@media (width < 500px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .menuGrid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
