/* CSS variablar för enkelt consistent tema färger */

:root {
  --text: #0a0506;
  --background: #fcfafa;
  --primary: #912b3f;
  --secondary: #a5d0d6;
  --accent: #a288f0;
}
:root[data-theme='dark'] {
  --text: #faf5f6;
  --background: #060404;
  --primary: #d46e82;
  --secondary: #2a555b;
  --accent: #280f76;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
}

/* Flex på headern för göra den responsiv och skap mellanrum imellan */
header {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--background);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li a {
  text-decoration: none;
  padding: 1rem;
  color: var(--background);
}

h1 a {
  text-decoration: none;
  color: var(--background);
}

li a:hover {
  transition: background-color 0.3s;
  background-color: var(--secondary);
  border-radius: 1rem;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  max-width: 75%;
  border-radius: 1rem;
}

/* Använder clamp */
.headerText {
  font-size: clamp(1rem, 10vw, 6rem);
}

/* Mobile/Tablet layout */

@media (width < 500px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}
